In [1]:
w, x, y, z = a
print(w, x, y, z)
first, *rest = a #first value will be stored in first variable 
#rest will be stored in rest variable as a list
print(first, rest)

NameError: name 'a' is not defined

In [3]:
fname, *lname = "Aniket pratap singh" .split()
print(fname, lname, sep="/n")

Aniket/n['pratap', 'singh']

In [ ]:
x = ('apple' , 'banana' , 'cherry')

In [4]:
x = [1,2,3,4]
xt = tuple(x)
print(x, xt)
xl = list(xt)
xs = set(x)
xts = set(xt)
print(xl, xts, xt)

[1, 2, 3, 4] (1, 2, 3, 4)
[1, 2, 3, 4] {1, 2, 3, 4} (1, 2, 3, 4)

In [5]:
print(xt[-1])
print(xt[0])

4
1

set

In [6]:
a = {2,3,4,1,2,3,3}
print(a)

{1, 2, 3, 4}

In [8]:
b = set() # empty set
b.add('hello')
b.add('felloo')
b.add('melloo')
print(b)
b.update({'yellow' , 'cello'}) # add a iterable to a set
print(b)

{'hello', 'melloo', 'felloo'}
{'yellow', 'melloo', 'cello', 'hello', 'felloo'}

In [9]:
b.discard('jello')
b.discard('hello')
print(b)

{'yellow', 'melloo', 'cello', 'felloo'}

set operation

In [ ]:
a = {1,2,3,4}
b = {3,4,5,6}
c = {1,2,3,4,5,6,7,8,9,10}
d = {6,7,8,9,10}

In [10]:
a.union(b) # or a / b

{1, 2, 3, 4, 'cello', 'felloo', 'melloo', 'yellow'}

In [12]:
a.intersection(b) # a & b

set()

In [13]:
print(a.difference(b) ) # a - b
print(b.difference(a) ) # b - a

{1, 2, 3, 4}
{'yellow', 'melloo', 'cello', 'felloo'}

In [14]:
a.symmetric_difference(b) # a ^ b

{1, 2, 3, 4, 'cello', 'felloo', 'melloo', 'yellow'}