In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# testing the water
pd.read_excel('Canada.xlsx', sheet_name=1, skiprows=20, skipfooter=2)

In [ ]:
df = pd.read_excel('canada.xlsx', sheet_name=1, skiprows=20, skipfooter=2)

In [ ]:
df

In [ ]:
pd.set_option('display.max_columns', None)
pd.set_option('display.precision', 2)

In [ ]:
df

what to learn
- selection of data
    - row selection
         -head
         -tail
         -slicing
         -iloc
         -loc
   - column selection
         - object style
         - dictionary style

In [ ]:
df.tail() # bottom 5 rows

In [ ]:
df.tail(3) # bottom 3 rows

In [ ]:
df[:10] # same as head(10)

In [ ]:
df[50:100] # rows 50 to 100

In [ ]:
df.iloc[0] #  first row

In [ ]:
df.iloc[-1] # last row

In [ ]:
df.iloc[:50]

In [ ]:
df.iloc[[0,5,10,15]]

In [ ]:
df.iloc[30, :5]

In [ ]:
df.iloc[:, :5] # first 5 columns

In [ ]:
df.iloc[:, [0,2,5,7,10]] # all rows, coulmns 0,2,5,7,10

In [ ]:
# list all columns names
print(df.columns.tolist())

In [ ]:
df['OdName'] # column as a series

In [ ]:
df[1980]

In [ ]:
# multiple columns
col_list = ['OdName', 1980, 1981, 1982, 1983]
df[col_list]

In [ ]:
# multiple columns
df[['OdName','AreaName',1980,1990,2000,2010]].head(30)

In [ ]:
# multiple columns
df[['OdName','AreaName',1980,1990,2000,2010]][5:50] # selected rows and selected columns

maths and stats

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.describe() # numerical columns summary

In [ ]:
df.describe(exclude=np.number) # non-numerical columns summary

In [ ]:
df

In [ ]:
df[2010].sum()

In [ ]:
df[[1980,1981,1982,1983,1984,1985]].sum()

In [ ]:
df[[1980,1981,1982,1983,1984,1985]].sum(axis=1)

In [ ]:
years = list(range(1980,2014))

In [ ]:
df[years].sum(axis=1)

In [ ]:
df['Total'] = df[years].sum(axis=1)
df.head(5)

In [ ]:
plt.figure(figsize=(20,3))
plt.bar('OdName', 'Total', data=df)
plt.xticks(rotation=90)
plt.show()

In [ ]:
df

In [ ]:
df['Faltu'] = 10 # can add the numeric values to table

In [ ]:
df

In [ ]:
df['kuch bhi'] =[1,2,3,4,5]*39 # this is jst a example
df

In [ ]:
df[2013] - df[1980]

In [ ]:
df['another column'] = df[2013] - df[1980] # expression on column
df

*add to pandas dataframe row wise

In [ ]:
small_df1 = df[:10]
small_df2 = df[185:]

In [ ]:
pd.concat([small_df1, small_df2])

remove columns

In [ ]:
df

to drop columns
    - df.drop() -> removes columns
- to drop rows
    - df.drop() -> removes rows
    - df.dropna() -> removes rows with nan
    - df.drop_duplicates() -> removes rows with duplicate values

In [ ]:
cols_to_drop = [
    'AREA', 'REG', 'DEV', 'Type', 'Coverage',
    'Faltu', 'kuch bhi', 'another column'
]

df.drop(columns=cols_to_drop,) # apply

In [ ]:
cols_to_drop = [
    'AREA', 'REG', 'DEV', 'Type', 'Coverage',
    'Faltu', 'kuch bhi', 'another column'
]

df.drop(columns=cols_to_drop, inplace=True) # apply

In [ ]:
df.drop_duplicates(subset=['AreaName'])

ordering columns

In [95]:
df.columns

Index([  'OdName', 'AreaName',  'RegName',  'DevName',       1980,       1981,
             1982,       1983,       1984,       1985,       1986,       1987,
             1988,       1989,       1990,       1991,       1992,       1993,
             1994,       1995,       1996,       1997,       1998,       1999,
             2000,       2001,       2002,       2003,       2004,       2005,
             2006,       2007,       2008,       2009,       2010,       2011,
             2012,       2013,    'Total'],
      dtype='object')

In [94]:
df['Total']/33

0      1776.94
1       475.73
2      2104.21
3         0.18
4         0.45
        ...
190    2943.82
191       0.06
192      90.45
193      50.82
194     260.55
Name: Total, Length: 195, dtype: float64

In [97]:
reordered_cols = [
  'OdName', 'AreaName',  'RegName',  'DevName',       1980,       1981,
             1982,       1983,       1984,       1985,       1986,       1987,
             1988,       1989,       1990,       1991,       1992,       1993,
             1994,       1995,       1996,       1997,       1998,       1999,
             2000,       2001,       2002,       2003,       2004,       2005,
             2006,       2007,       2008,       2009,       2010,       2011,
             2012,       2013,    
    ]
    reordered_cols

IndentationError: unexpected indent (3595596221.py, line 10)

In [ ]:
df.c